.team-channel-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.team-channel-header-name {
  font-weight: bold;
}
